Options All -Indexes

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect all traffic to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Uncomment this section to force HTTPS
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>


