{% extends './dashboard/layout.twig' %}

{% block content %}
<div class="min-h-screen">
  <nav class="bg-primary border-b border-border relative">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="shrink-0 text-dc_body_text_clr py-2 text-sm px-3 rounded-full font-bold font-mono">
            Dashboard 
            <span role="separator" class="hidden md:inline-block">|</span>
          </div>
          <div id="navigation-menu" class="absolute border-t border-border md:border-transparent top-full -left-full w-full bg-background z-50 md:z-10 shadow-lg md:shadow-none md:bg-transparent md:relative md:left-0 md:block transition-all">
            <div class="mx-6 mt-4 mb-4 flex flex-col gap-4 md:flex-row md:items-baseline md:space-x-4 md:ml-10 ">
              <a href="/dashboard/overview" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-background" aria-label="Overview Page">Overview</a>
              <a href="/dashboard/upload" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-background" aira-label="Upload Wallpapers Page">Upload</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <a href="/logout" class="relative rounded-md px-4 py-2 font-mono font-bold text-sm bg-dc_primary_clr text-dc_onPrimary_clr focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-border">
              Logout
            </a>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button id="hamburger-btn" type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>
  {# Scripts #}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/assets/js/dashboard_base.js"></script>
  {# Scripts #}
  <section class="bg-white shadow sticky top-0 z-30">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-xl sm:text-2xl md:text-3xl font-semibold tracking-tight text-gray-900">{{ dashboardTitle }}</h1>
    </div>
  </section>
  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      {% block dashboardContent %}
        <!-- Main content or user Dashboard goes here -->
      {% endblock %}
    </div>
  </main>
</div>
{% endblock %}