{% extends './info/layout.twig' %}

{% block title %}
   About us | Gloztik.com
{% endblock %}

{% block content %}
    <div class="w-full p-2 md:p-4 lg:p-8 min-h-screen">
        <div class="w-full max-w-2xl mx-auto">
            <h2>About Website</h2>
            <p>In this website, you can find, download, share best wallpaper for mobile and desktop. I know many of the website around the web exists, but I provide you really a good interface and good experience that you can't find any where. This website is dedicated to Ai Wallpapers but not limit to ai wallpapers, Here we upload all types of and only cool and asthetic wallpapers. Our team search, filter and then upload best wallpapers on it. We will also add a upload wallpaper feature soon for our visitors, you can also upload your best wallpapers on it and share with your friends.</p>
        </div>
    </div>
{% endblock %}